.section{
  display: flex;
.menu {
  position: fixed;
  width: 25%;
  height: 50vh;
  top: 90px;
  right: 0;

  .blur {
    width: 100vw;
    height: 50vh;
    position: absolute;
  }

  .menu_content {
    width: 100%;
    height: 100%;
    background-color:black;
  }

  .items {
    a {
      display: flex;
      align-items: center;
      color: white;
    }
  }
}
}