
.projects {
  &_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 120px;
    
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .left_content {
        height: 350px !important;
        h2 {
          margin-top: 30px;
        }

        p {
          margin: 130px 0;
        }
      }
    }
    .left_content {
      width: 700px;
      height: 260px;

      h2 {
        font-size: 48px;
        font-weight: 700;
      }


      p {
        font-size: 24px;
        font-weight: 400;
        margin-top: 100px;
        letter-spacing: 1%;
        list-style: 43.2px;
        color: #000000;
      }
    }
  }
}