
.card {
  width: 600px;
  max-height: 900px;
  padding: 1rem;
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@media (max-width: 768px) {
  .card {
    width: 700px !important;
    margin: auto;
    max-height: 750px;
    display: flex;
    align-items: center;
    flex-direction: row;

    .card_content {
      h2 {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .card {
    width: 910px !important;
    max-height: 950px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .card_content {
    button {
      width: 250px !important;
    }
  }
}

@media (max-width: 425px) {
  .card {
    width: 350px !important;
    height: 100%;

    .card_content {
      button {
        width: 300px !important;
      }
    }
  }
}

.card::-webkit-scrollbar {
  width: 20px;
}

.card::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.card::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: gray;
}

.card_content {
  width: 90%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 15px;

  button {
    width: 330px;
    height: 35px;
    border: 0;
    background: none;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    color: #4A99D3;
    font-size: 20px;
    cursor: pointer;
  }
}

.image {
  width: 100%;
}