.burger {
  nav {
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 50;

    .burger_btn {
      width: 40px;
      height: 20px;
      position: relative;
      cursor: pointer;

      span {
        top: 9px;
        width: 39.5px;
        position: absolute;
        height: 2px;
        background-color: #2B292D;
      }
    }

    .burger_btn::before {
      content: "";
      position: absolute;
      top: 0;
      background-color: #2B292D;
      width: 40px;
      height: 2px;
    }
    
    .burger_btn::after {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: #2B292D;
      width: 40px;
      height: 2px;
    }
  }
}