@import "/react-multi-carousel/lib/styles.css";

.card {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .card_block {
    width: 340px !important;
  }

  .image {
    width: 340px !important;
  }

  .card_block button {
    width: 300px !important;
    height: 35px;
    border: 0;
    background: none;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    color: #4A99D3;
    font-size: 20px;
    cursor: pointer;
  }
}

@media (max-width: 1440px) {
  .card_block {
    width: 300px;
  }

  .image {
    width: 300px;
  }

  .card_block button {
    width: 270px !important;
  }
}

@media (max-width: 1024px) {
  .card_block {
    width: 400px;
  }

  .image {
    width: 400px;
  }

  .card_block button {
    width: 270px !important;
  }
}

.card_block {
  max-width: 420px;
  margin: 0 auto;
  box-shadow: 0 0 10px #DADADA;
  border-radius: 15px;
}

.image {
  border-radius: 15px;
}

.description {
  padding: 0 15px;
  padding-bottom: 30px;
}

.card_block button {
  width: 380px;
  height: 35px;
  border: 0;
  background: none;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  color: #4A99D3;
  font-size: 20px;
  cursor: pointer;
}


.lastNews {
  margin-top: 70px;
  text-align: center;
}

.lastNews .title {
  font-size: 48px;
  font-weight: 700;
}

.lastNews .text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #505050;
}

.icons {
  position: absolute;
}

@keyframes active_svg {
  0% {
    left: 230px;
    top: -55px;
  }
  100% {
    left: 265px;
    top: -35px;
  }
};