@import "/react-multi-carousel/lib/styles.css";

.card {
  margin-top: 70px;
}

.card_block {
  max-width: 430px;
  margin: 0 auto;
  box-shadow: 0 0 10px #DADADA;
  border-radius: 15px;
}

.image {
  border-radius: 15px;
}

.description {
  padding: 0 15px;
  padding-bottom: 30px;
}

.card_block button {
  width: 380px;
  height: 35px;
  border: 0;
  background: none;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  color: #4A99D3;
  font-size: 20px;
  cursor: pointer;
}

.icon {
  position: relative;
  animation-name: active_svg;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #4A99D3;
  font-size: 25px;
  width: 0px;
}


.lastNews {
  margin-top: 70px;
  text-align: center;
}

.lastNews .title {
  font-size: 48px;
  font-weight: 700;
}

.lastNews .text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #505050;
}

.icons {
  position: absolute;
}

@keyframes active_svg {
  0% {
    left: 230px;
    top: -55px;
  }
  100% {
    left: 265px;
    top: -35px;
  }
};