@import "/react-multi-carousel/lib/styles.css";
.lastNews {
  margin-top: 70px;
  text-align: center;
}

.lastNews .title {
  font-size: 48px;
  font-weight: 700;
}

.lastNews .text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #505050;
}